<h1>Welcome</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>

<div>
  <%= link_to "Create new cocktail", new_cocktail_path %>
</div>
